alembic==1.13.1
bleach==6.1.0
cachetools==5.3.2
cryptography==41.0.7
fastapi==0.110.0
celery==5.3.6
jinja2==3.1.2
psycopg2-binary==2.9.9
SQLAlchemy==2.0.23
uvicorn[standard]==0.23.2
pydantic[email]==1.10.12
prometheus-client==0.17.1
pytest==7.4.3
httpx==0.26.0
python-telegram-bot==20.6
PyJWT==2.8.0
